<div class='jumbotron detailBanner overlay' style="border-radius: 0px;height: 250px;display: flex;flex-direction: column;justify-content: center;">
</div>

<div class="container">
    <h1>我的帖子</h1>
    <br/>


    <div class="container">

        <div id="minheight">

            <div class="row text-center">
                {{#each posts}}
                <div class="col-md-3 col-sm-6">
                    <div class="img-thumbnail">
                        {{#if victim}}
                        <p style="font-size:14px">PostID:{{id}} 匿名被害者</p>{{else}}
                        <p style="font-size:14px">PostID:{{id}} 匿名犯匪者</p>{{/if}}
                        <div class="caption">
                            <p style="font-size:10px">{{ created_at }}</p>
                        </div>
                        <div class="caption">
                            <h4>{{ title }}</h4>
                        </div>
                        {{#if image_path}}
                        <img src="{{ image_path }}" class="img-thumbnail"> {{/if}}
                        <div class="caption">
                            <p>{{ content }}</p>
                        </div>
                        <p>留言：{{count}}</p>

                        {{#if victim}}
                        <a class="btn btn-secondary btn-sm btn-block" href="/posts/{{id}}">詳細內容</a>{{else}}
                        <a class="btn btn-danger btn-sm btn-block" href="/posts/{{id}}">詳細內容</a>{{/if}}
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
















</div>