<div class='jumbotron banner overlay' style="border-radius: 0px;height: 350px;display: flex;flex-direction: column;justify-content: center;">
    <h1>匿名告解室</h1>
    <h6>睇下大家呢排生活發生咩事，有咩煩惱/分享生活上，可以幫手諗下點樣解決</h6>
    <p>
        <br/>
        <a class="btn btn-primary btn-lg btn-block" style="background-color:#2F1B10; border: 0px;" href="/role ">我要post野!</a>
    </p>
</div>

<div class="container ">

    <a type="button " class="btn btn-primary btn-ml " href="/postssortnewold ">由新到舊</a>
    <a type="button " class="btn btn-secondary btn-ml " href="/posts ">由舊到新</a>
    <a type="button " class="btn btn-success btn-ml " href="/postssortvic ">受害者</a>
    <a type="button " class="btn btn-danger btn-ml " href="/postssortcri ">犯罪者</a>
    <a type="button " class="btn btn-info btn-ml " href="/postssortdoradv ">最熱門</a>
    <a type="button " class="btn btn-dark btn-ml " href="/postssortsiuadv ">最冷門</a>

    <br/>
    <br/>


    <div class="row text-center ">
        {{#each posts}}
        <div class="col-md-3 col-sm-6 " style="margin: 1px 0 1em;">

            <div class="img-thumbnail ">
                <div class="caption ">
                    <p style="font-size:12px ">{{ created_at }}</p>
                </div>
                </br>
                {{#if victim}}
                <a class="avatar">
                    <img src="/assets/4.png" width="40px" height="40px">
                </a>
                <p style="font-size:14px;margin: 11px 0 1em;">PostID:{{id}} 匿名被害者</p>{{else}}
                <a class="avatar">
                    <img src="/assets/3.png" width="40px" height="40px">
                </a>
                <p style="font-size:14px;margin: 11px 0 1em;">PostID:{{id}} 匿名犯罪者</p>{{/if}}

                <div class="caption ">
                    <h5>{{ title }}</h5>
                </div>
                {{#if image_path}}
                <img src="{{ image_path }} " class="img-thumbnail " style="border:0cm"> {{/if}}
                <div class="caption ">
                    <p>{{ content }}</p>
                </div>
                {{!--
                <p>[no.of support]</p>
                <p>[no. of disupport]</p> --}}
                <p>留言：{{count}}</p>
                {{#if victim}}
                <a class="btn btn-primary btn-sm btn-block " style="background-color:#FBD302; border:0cm;" href="/posts/{{id}} ">詳細內容</a>{{else}}
                <a class="btn btn-primary btn-sm btn-block " href="/posts/{{id}} ">詳細內容</a>{{/if}}
            </div>
        </div>
        {{/each}}

        <br/>
    </div>
</div>