<div class="container">
    <a class="btn btn-secondary btn-md" href="/posts">返回主頁</a>

    <div class="jumbotron">

        <h6 class="textcenter">～～～～～～～～詳細內容～～～～～～～～</h6>
        <p>PostID:{{details.id}}</p>
        {{#if details.victim}}
        <p>匿名被害者(victim)</p>{{else}}
        <p>匿名犯匪者(criminal)</p>{{/if}}
        <div>
            <p>建立於: {{ details.created_at }}</p>
        </div>
        <div>
            <p id="content">標題: {{ details.title }}</p>
        </div>
        {{#if details.image_path}}
        <img src="/{{ details.image_path }}" {{!-- {{#if details.image_path includes( "https")}}
            "/"{{ details.image_path }} {{else}} {{ details.image_path }} {{/if}} --}} class="img-thumbnail">{{else}}~~~~~~~~~~~~~~~~~~~~此post無圖（無真「相」，不過都可以照睇佢既故事既）~~~~~~~~~~~~~~~~~~~~{{/if}}
        <div>
            <p id="content">內容: {{ details.content }}</p>
        </div>
    </div>

    <div class="jumbotron">
        <h4>Give an advice 發表有建設性的建議：</h4>
        <div>
            <form action="/comment" method="POST">
                <div class="form-group">
                    <textarea class="form-control" rows="7" type="text" name="content" placeholder="Advice here..."></textarea>
                    <input hidden name="postId" value="{{details.id}}" />
                </div>
                <input type="submit" class="btn btn-primary btn-lg btn-block"></input>
            </form>
        </div>
    </div>

    <div class="jumbotron">
        <h4>List of Advices (comments)</h4>

        {{#each advices}}
        <div class="card">
            <div class="card-body">
                <p style="font-size:10px">建立於:{{ created_at }} 由 UserID : {{user_id}} </p>
                <p style="font-size:18px">{{ content }}</p>

            </div>
        </div>
        {{/each}}
    </div>

    <a class="btn btn-secondary btn-md" href="/posts">返回主頁</a>
<script>
    
</script>
</div>